@import "buttons";
@import "info";

$body-background: #F9F6E0;
$root-background: #999;

body {
    background: $body-background;
    margin: 0;
    padding: 10px;
}

.root {
    background-color: $root-background;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}